.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/with_shaders_by_KeymilPLQ.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 32px 467px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 357px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 25px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 267px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 375px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 309px;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    width: 99px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 711px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
    min-height: 1007px;
  }

  .u-section-2 .u-image-1 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 296px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 256px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  width: 878px;
  grid-gap: 0px 0px;
  margin: 0 auto 1px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -51px -11px 0 79px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-list-1 {
    min-height: 197px;
    height: auto;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-list-1 {
    min-height: 340px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -47px;
    margin-right: 26px;
    margin-left: 85px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 645px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  width: 837px;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-4 .u-image-1 {
  width: 314px;
  height: 147px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 705px;
  margin: 10px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 17px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 529px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 14px;
  margin-bottom: 0;
  height: 499px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}